<div class="row">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">扫描任务列表</div>

    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>编号</th>
        <th>指定文件夹位置</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <td></td>
      <td></td>

      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><span
            class="glyphicon glyphicon-remove"></span></button>
        </div>
      </td>

      </tbody>
    </table>
  </div>
</div>


