<modal #showManualCheckDialogModal (onClose)="onShowManualCheckDialogModal()" [cssClass]="'my-modal'">
  <form #showManualCheckDialogForm="ngForm">
    <modal-header [show-close]="true">
      <h4 class="modal-title">检查</h4>
    </modal-header>
    <modal-body>
      <div class="row">
        <div class="col-sm-8">
          <img id="myimg" class="imgClass" [src]="imagePath"/>
        </div>
        <div class="col-sm-4 ">
          <label for="scannedText" >扫描的文字</label>
          <textarea rows="30" class="form-control" id="scannedText"
                    required
                    [(ngModel)]="selectedScanTask?.scanPairList[selectedScanPairIndex].text" name="scannedText"
                    #name="ngModel"
          ></textarea>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="showManualCheckDialogModal"
              (click)="onShowPrevClicked()"><span class="glyphicon glyphicon-arrow-left"></span> 上一个
      </button>
      <button type="button" class="btn btn-default" data-dismiss="showManualCheckDialogModal"
              (click)="onShowNextClicked()"><span class="glyphicon glyphicon-arrow-right"></span> 下一个
      </button>
      <button type="button" class="btn btn-default" data-dismiss="showManualCheckDialogModal"
              (click)="showManualCheckDialogModal.dismiss()">取消
      </button>
      <button type="button" class="btn btn-primary"
              (click)="showManualCheckDialogModal.close()">完成
      </button>

    </modal-footer>
  </form>
</modal>

<div class="row">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">待处理列表</div>
    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>编号</th>
        <th>单据数量</th>
        <th>扫描结果</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let scanTask of scanTasks">
        <td><a href="javascript:void(0)" (click)="onScanTaskClicked(showManualCheckDialogModal, scanTask)">{{scanTask?.uuid}}</a>
        </td>
        <td>{{scanTask?.scanPairList?.length}}</td>
        <td></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><span
              class="glyphicon glyphicon-remove"></span></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
