<div class="row">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">待处理列表</div>
    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>编号</th>
        <th>单据数量</th>
        <th>扫描结果</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let scanTask of scanTasks">
        <td>{{scanTask?.uuid}}</td>
        <td>{{scanTask?.scanPairList?.length}}</td>
        <td></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><span
              class="glyphicon glyphicon-remove"></span></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
